{% extends "base.html"%}

{% block content %}
<!-- Mashead header-->
<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h1 class="display-1 lh-1 mb-3">Welcome.</h1>
                    <p class="lead fw-normal text-muted mb-5">Lets start Banking! 🏦</p>
                </div>
            </div>
        </div>
    </div>
</header> 
<!-- Here so the it doesnt look wierd -->
<aside class="text-center">
<div class="container px-5">
    <div class="row gx-5 justify-content-center">
    </div>
</div>
</aside> 
{% endblock %}